<!--tag
     @param pic: assets/images/load_geojson.jpg

-->




<!DOCTYPE html>

<head>
  <title>加载GEOJSON</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/Cesium/Widgets/widgets.css" rel="stylesheet">
  <script src="/assets/Cesium/Cesium.js"></script>
  <script src="/assets/js/event-emitter.js"></script>

  <style>
    html,
    body,
    #cesiumContainer {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  </style>
</head>

<body>
  <div id="cesiumContainer"></div>
  <script>

    var viewer = new Cesium.Viewer("cesiumContainer", {
      animation: false, // 动画小组件
      baseLayerPicker: false, // 底图组件，选择三维数字地球的底图（imagery and terrain）。
      fullscreenButton: false, // 全屏组件
      vrButton: false, // VR模式
      geocoder: false, // 地理编码（搜索）组件
      homeButton: false, // 首页，点击之后将视图跳转到默认视角
      infoBox: true, // 信息框
      sceneModePicker: false, // 场景模式，切换2D、3D 和 Columbus View (CV) 模式。
      selectionIndicator: false, //是否显示选取指示器组件
      timeline: false, // 时间轴
      navigationHelpButton: false, // 帮助提示，如何操作数字地球。
      navigationInstructionsInitiallyVisible: false, // 如果最初应该看到导航说明，则为true；如果直到用户明确单击该按钮，则该提示不显示，否则为false。
    });
    viewer._cesiumWidget._creditContainer.style.display = "none";


    var scene = viewer.scene;
    var handler = viewer.screenSpaceEventHandler;
    var highlightColor = Cesium.Color.RED.withAlpha(1);
    var highlightedEntity;
    var mouseEmitter = new EventEmitter()




    Cesium.GeoJsonDataSource.load("/assets/data/huadu.json", {
      strokeWidth: 0,
      stroke: Cesium.Color.TRANSPARENT
    })
      .then(function (dataSource) {
        viewer.dataSources.add(dataSource);
        var entities = dataSource.entities.values;
        for (var i = 0; i < entities.length; i++) {
          var entity = entities[i];
          var name = entity.name;  //geojson里面必须得有一个name属性，entity.name对应
          var normalColor = Cesium.Color.fromRandom({ alpha: 1.0 });
          entity.polygon.extrudedHeight = 0; //拉伸高度，单位是米

          entity.polygon.material = normalColor;
          mouseEmitter.on('hover', ((entity, normalColor) => function (highlightedEntity) {
            if (highlightedEntity === entity) {
              entity.polygon.material = highlightColor;
              entity.polygon.extrudedHeight = 500;
              // entity.polyline = {
              //   positions: entity.polygon.hierarchy._value.positions,
              //   glowPower: .1,
              //   width:4,
              //   color: Cesium.Color.ORANGERED
              // }
            } else {
              entity.polygon.material = normalColor;
              entity.polygon.extrudedHeight = 0;

              entity.polyline = {}
            }
          })(entity, normalColor))
        }
        viewer.flyTo(dataSource);
      })




    Cesium.GeoJsonDataSource.load("/assets/data/huangpu.json", {

     stroke: Cesium.Color.ORANGERED.withAlpha(1) ,
      // fill: false,


    })
      .then(function (dataSource) {
        viewer.dataSources.add(dataSource);
        var entities = dataSource.entities.values;
        for (var i = 0; i < entities.length; i++) {
          var entity = entities[i];
          var name = entity.name;  //geojson里面必须得有一个name属性，entity.name对应
          var normalColor = Cesium.Color.fromRandom({ alpha: 1.0 });
          entity.polygon.extrudedHeight = 0; //拉伸高度，单位是米

          entity.polygon.material = Cesium.Color.WHITE.withAlpha(.9);
          mouseEmitter.on('hover', ((entity) => function (highlightedEntity) {
            if (highlightedEntity === entity) {




              //   entity.polygon.outlineWidth = 10;
              entity.polygon.outline = false;
              entity.polyline = {
                positions: entity.polygon.hierarchy._value.positions,
                width: 18,

                // material: Cesium.Color.YELLOW
                material: new Cesium.PolylineGlowMaterialProperty({
                  glowPower: 0.1,
                  color: Cesium.Color.ORANGERED.withAlpha(.9)
                })

              }









            } else {

              entity.polygon.outline = true;

              entity.polyline = {}
            }
          })(entity))
        }
      })



    // 加载openstreetmap  
    let layer = new Cesium.UrlTemplateImageryProvider({
      url: "https://tile-b.openstreetmap.fr/hot/{z}/{x}/{y}.png",
    });
    viewer.imageryLayers.addImageryProvider(layer);




    handler.setInputAction(function (movement) {
      var pickedObject = scene.pick(movement.endPosition);
      if (Cesium.defined(pickedObject) && pickedObject.id instanceof Cesium.Entity) {


        if (highlightedEntity !== pickedObject.id) {
          highlightedEntity = pickedObject.id;
          mouseEmitter.emit('hover', pickedObject.id)

        }

      } else {
        //highlightedEntity = undefined;

        mouseEmitter.emit('hover', null)
      }

    }, Cesium.ScreenSpaceEventType.MOUSE_MOVE);



  </script>
</body>