<!DOCTYPE html>

<head>
    <title>旋转视图  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../assets/Cesium/Widgets/widgets.css" rel="stylesheet">
    <script src="../../assets/Cesium/Cesium.js"></script>
    <style>
        html,
        body,
        #cesiumContainer {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="text/javascript">
        var view = new Cesium.Viewer('cesiumContainer', {
            baseLayerPicker: false,
        });

        var center = Cesium.Cartesian3.fromDegrees(116.39518, 39.913904);//camera视野的中心点坐标
        var heading = Cesium.Math.toRadians(0.0);
        var pitch = Cesium.Math.toRadians(-90.0);
        var range = 2000.0;
        view.camera.lookAt(center, new Cesium.HeadingPitchRange(heading, pitch, range));


        // Orbit this point
        view.clock.onTick.addEventListener(function(clock) {
             view.camera.rotateRight(0.005);
        });

    </script>
</body>