<!DOCTYPE html>

<head>
    <title>视图定位 setView </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../assets/Cesium/Widgets/widgets.css" rel="stylesheet">
    <script src="../../assets/Cesium/Cesium.js"></script>
    <style>
        html,
        body,
        #cesiumContainer {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="text/javascript">
        var destination = Cesium.Cartesian3.fromDegrees(116.39518, 39.913904, 1500.0)

        var view = new Cesium.Viewer('cesiumContainer', {
            baseLayerPicker: false,
        });
        view.camera.setView({
            destination: destination, // 设置位置
            orientation: {
                heading: Cesium.Math.toRadians(20.0), // 方向
                pitch: Cesium.Math.toRadians(-90.0),// 倾斜角度
                roll: 0
            }
        });
    </script>
</body>