 

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>最简单的例子</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../assets/Cesium/Widgets/widgets.css" rel="stylesheet">
    <script src="../../assets/Cesium/Cesium.js"></script>
    <style>
            html,body
            {
                width:100%;
                height:100%;
                padding:0;
                margin:0
            }
        </style>
</head>
<body>
    <div id = "cesium_container" style="width:100%;height:100%;">
    </div>
    <script>
        var mViewer = new Cesium.Viewer('cesium_container');
    </script>
</body>
</html>