<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>获取点击点的经纬度</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../assets/Cesium/Widgets/widgets.css" rel="stylesheet">
    <script src="../../assets/Cesium/Cesium.js"></script>
    <script src="/assets/js/cesium-event.js" ></script>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0
        }
    </style>
</head>

<body>
    <div id="cesiumContainer" style="width:100%;height:100%;">
    </div>
    <script>
        var destination = Cesium.Cartesian3.fromDegrees(116.39518, 39.913904, 1500.0)

        var viewer = new Cesium.Viewer('cesiumContainer', {
            baseLayerPicker: false,
        });
        viewer.camera.setView({
            destination: destination, // 设置位置
            orientation: {
                heading: Cesium.Math.toRadians(20.0), // 方向
                pitch: Cesium.Math.toRadians(-90.0),// 倾斜角度
                roll: 0
            }
        });

        var viewerEmitter = bindViewerEvent(viewer)






        viewerEmitter.leftDownEvent.addEventListener(function (event) {


            var earthPosition = viewer.camera.pickEllipsoid(event.position, viewer.scene.globe.ellipsoid);
            var cartographic = Cesium.Cartographic.fromCartesian(earthPosition, viewer.scene.globe.ellipsoid, new Cesium.Cartographic());
            var lat = Cesium.Math.toDegrees(cartographic.latitude);
            var lng = Cesium.Math.toDegrees(cartographic.longitude);
            var height = cartographic.height;
            console.log("[Lng=>"+lng+",Lat=>"+lat+",H=>"+height+"]");


        })


    </script>
</body>

</html>